body {
  background-color:#f2b32f;
  color:#684823;
}
      
      
      
/* why do I need this?: */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.hero-image {
  /* do I want this darkened? */
  /* this is from: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_hero_image */
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/pexels-photo-30711625.jpeg"); */
  background-image: url("../images/pexels-photo-30711625.jpeg");
  height: 66%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  color:white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#common-signs .card {
  background-color: #FBDA8E;
  color:#684823;
}

